@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.wp-block {
  font-family: 'rigid-square', sans-serif;
}

.wp-block-acf-accordion-container {
  .wp-block-acf-accordion-item:last-child {
    .wp-block-accordion-item {
      margin-bottom: 0;
    }
  }
}

.is-style-column {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  max-width: none !important;
}
