@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.wp-block {
  font-family: 'rigid-square', sans-serif;
}

.wp-block-acf-accordion-container {
  .wp-block-acf-accordion-item:last-child {
    .wp-block-accordion-item {
      margin-bottom: 0;
    }
  }
}

.is-style-column {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  max-width: none !important;
}

// input[type='range'] {
//   position: relative;
//   appearance: none;
//   display: block;
//   width: 60%;
//   height: 1px;
//   background-color: #000000;
//   border-radius: 8px;

//   &::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     border: 1px solid black;
//     height: 13px;
//     width: 13px;
//     background-color: #ffffff00;
//     border-radius: 50%;
//   }
// }
