.wp-block-quotes-slider {
  .swiper {
    // height: 400px;
  }
}

.wp-block-section {
  // &.is-style-dark {
  //   background-color: var(--dark);
  //   color: white;

  //   .progress {
  //     svg circle {
  //       fill: white;
  //     }
  //   }
  // }
}

.is-style-dark #main * {
  color: white;
}

.is-style-column {
  @media (min-width: 640px) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  @media (min-width: 768px) {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  @media (min-width: 1024px) {
    padding-right: 9rem;
    padding-left: 9rem;
  }
  @media (min-width: 1280px) {
    padding-right: 12rem;
    padding-left: 12rem;
  }
  @media (min-width: 1536px) {
    padding-right: 15rem;
    padding-left: 15rem;
  }
}

// gap system
// ---------------------

.is-style-aspect-h {
  img,
  lottie-player {
    aspect-ratio: 900/539;
    object-fit: cover;
  }
}
.is-style-gap {
  row-gap: 1.2%;
  column-gap: 1.2%;
}

.is-style-aspect-v {
  img,
  lottie-player {
    aspect-ratio: 9/11;
    object-fit: cover;
  }
}

.margin-gap-b {
  margin-bottom: var(--margin-gap);
}

.wp-block-section {
  #main .content > & {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }
}

.wp-block-people-link {
  a {
    .text-hover {
      opacity: 0;
    }

    &:hover {
      .text-normal {
        opacity: 0;
      }

      .text-hover {
        opacity: 1;
      }
    }
  }
}

.wp-block-before-after {
  input[type='range'] {
    position: relative;
    appearance: none;
    display: block;
    width: 60%;
    height: 1px;
    border-radius: 8px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid black;
      height: 18px;
      width: 18px;
      background-color: #ffffff;
      border-radius: 50%;
      cursor: none;
    }
  }

  &.light {
    .start_text,
    .end_text {
      color: var(--dark);
    }

    input[type='range'] {
      &::-webkit-slider-thumb {
        border-color: var(--dark);
      }
    }
  }

  &.dark {
    .start_text,
    .end_text {
      color: var(--light);
    }

    input[type='range'] {
      background-color: var(--light);

      &::-webkit-slider-thumb {
        border-color: var(--light);
      }
    }
  }
}

.wp-block-group.people-group {
  --gap: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  .wp-block-people,
  .wp-block-people-link {
    width: calc(50% - var(--gap) / 2);

    .wrapper {
      overflow: hidden;
      display: flex;
      justify-content: center;

      video {
        width: 65vw;
        max-width: none;
      }
    }

    @media (min-width: 768px) {
      width: calc(33% - var(--gap) / 3);

      .wrapper {
        video {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
