.otgs-development-site-front-end {
  display: none;
}

body {
  min-height: 101vh;
}

#main {
  body.home & {
    padding: 1.5rem;
  }
}

.outlined {
  -webkit-text-stroke: 2px white;
  color: var(--dark);
}

.progress-bar {
  transition: 1s;
}
