.otgs-development-site-front-end {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 101vh;

  &.home {
    #main {
      padding: 1.5rem;
    }
  }

  #main {
    img {
      transition: opacity 4s;
    }
  }

  @media (min-width: 768px) {
    &.home {
      #main {
        padding: 2rem;
      }
    }
  }
}

@media (min-width: 768px) {
  * {
    // cursor: none !important;
  }
}
.outlined {
  -webkit-text-stroke: 2px var(--dark);
  color: white;

  &.dark {
    -webkit-text-stroke: 2px white;
    color: var(--dark);
  }

  .is-style-dark #main & {
    -webkit-text-stroke: 2px white;
    color: var(--dark);
  }
}

.terms {
  transition: 2s;
}

// .content p {
//   font-family: 'linotype-sabon', 'serif';
// }

h1,
h2,
h3,
h4 {
  line-height: 1.2em;
}

.desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.cta {
  .heading {
    margin-top: 10rem;
    margin-bottom: 7rem;
  }

  .link {
    margin-bottom: 10rem;
  }
}

.hanging {
  text-indent: -0.5em;
}

.wpml-ls-legacy-list-horizontal a span {
  vertical-align: baseline !important;
}
