{
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "printWidth": 120,
    "overrides": [
        {
            "files": "resources/styles/**/*.scss",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
