/* .banner {
   background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0) 100%);
} */

#tagline,
#lang-menu {
  right: 4.25rem;

  .wpml-ls-legacy-list-horizontal {
    padding: 0px;
    border: none;

    a {
      padding: 0;
      line-height: 1.25rem;
    }
  }
}

#btnDot {
  right: 1.5rem;

  @media (min-width: 768px) {
    right: 2rem;
  }
}

#main-menu {
  .wpml-ls-statics-shortcode_actions {
    right: 3.3rem;
    top: 0.75rem;
    @apply fixed text-base font-serif z-50;
  }

  .my-menu-item {
    a {
      -webkit-text-stroke: 0 rgba(6, 6, 6, 0);
      color: var(--light);

      &:hover {
        -webkit-text-stroke: 1px white;
        color: var(--dark);
      }
    }

    @media (min-width: 768px) {
      a {
        &:hover {
          -webkit-text-stroke: 2px white;
        }
      }
    }
  }
}
