/* .banner {
   background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0) 100%);
} */

#tagline {
  right: 4.25rem;
}

#btnDot {
  right: 2rem;
}

#main-menu {
  .wpml-ls-statics-shortcode_actions {
    right: 3.3rem;
    top: 0.75rem;
    @apply fixed text-base font-serif z-50;
  }

  .my-menu-item {
    a {
      -webkit-text-stroke: 0 rgba(6, 6, 6, 0);
      color: var(--light);
      transition: -webkit-text-stroke 2s, color 2s;

      &:hover {
        -webkit-text-stroke: 2px white;
        color: var(--dark);
        transition: -webkit-text-stroke 1s, color 1s;
      }
    }
  }
}
