.single-project {
  .page-header {
    p {
      margin-bottom: 1em;
      margin-top: 1em;

      &:first-of-type {
        display: inline;
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
